---
import Layout from "../layouts/Layout.astro";

const allRecipes = await Astro.glob("./recipes/*.md");
---

<Layout title="Recipes">
  <main class="prose p-7">
    <h1>All Recipes</h1>
    <ul>
      {
        allRecipes.map((recipe) => (
          <li class="my-4">
            <a href={recipe.url} class="py-2">
              {recipe.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
