---
import Layout from "../layouts/Layout.astro";

// https://docs.astro.build/en/guides/markdown-content/#importing-markdown
interface ImportedMarkdownFileSubset {
  url: string;
  frontmatter: { title: string };
}

const allRecipes = Object.values<ImportedMarkdownFileSubset>(
  import.meta.glob("./recipes/*.md", { eager: true })
);
---

<Layout title="Recipes">
  <main class="prose p-7">
    <h1>All Recipes</h1>
    <ul>
      {
        allRecipes.map((recipe) => (
          <li class="my-4">
            <a href={recipe.url} class="py-2">
              {recipe.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
