---
import "@fontsource/noto-sans";
import DownloadIcon from "../icons/DownloadIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume" class="relative">
  <a
    href="/MattWells-Resume.pdf"
    download
    class="rounded-full bg-orange-800 fixed bottom-6 right-6 text-white shadow-lg shadow-slate-400 w-12 h-12 overflow-hidden p-2 hover:w-60 no-underline transition-all animate-bounce-twice print:hidden"
  >
    <span class="whitespace-nowrap inline-flex items-center m-auto text-white">
      <DownloadIcon class="w-8 inline mr-3" />
      <span class="align-center">Download PDF version</span>
    </span>
  </a>
  <main>
    <section class="flex items-center justify-between">
      <h1 class="text-4xl font-bold">Matt Wells</h1>
      <div class="flex flex-col gap-1 items-end">
        <!-- <div class="flex gap-2">
          <a href="mailto:[REDACTED]" class="plain-link">
            [REDACTED]
          </a>
          <span>&#8226;</span>
          <a href="tel:[REDACTED]" class="plain-link">[REDACTED]</a>
        </div> -->
        <div class="flex gap-2">
          <a target="_blank" href="https://github.com/mattwells19">Github</a>
          <span>&#8226;</span>
          <a target="_blank" href="https://www.linkedin.com/in/mwells21/">
            LinkedIn
          </a>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-xl uppercase">Summary</h2>
      <hr />
      <p>
        A team-oriented, product-minded, full-stack developer who has an eye for
        web design, is highly skilled in frontend development, and has strong
        backend development experience. Looking for a full-stack/frontend
        engineer role that involves ReactJS or SolidJS development with a close
        relationship with the UI/UX team.
      </p>
    </section>

    <section class="mt-6">
      <h2 class="text-xl uppercase">Education</h2>
      <hr />
      <p>University of North Carolina at Charlotte, Charlotte NC</p>
      <ul>
        <li>
          <dl class="space-between">
            <dt>Master of Science in Computer Science</dt>
            <dd>January 2019 - December 2022</dd>
          </dl>
        </li>
        <li>
          <div class="space-between">
            <span>Bachelor of Science in Computer Science</span>
            <span>August 2016 - May 2020</span>
          </div>
        </li>
      </ul>
    </section>

    <section class="mt-6">
      <h2 class="text-xl uppercase">Work Experience</h2>
      <hr />
      <ul class="main-section-list">
        <li>
          <div class="space-between">
            <h3 class="text-lg underline">Senior Software Engineer</h3>
            <span>July 2023 - Present</span>
          </div>
          <p>Raptor Maps, Remote</p>
          <ul>
            <li>
              Planned, lead, and implemented numerous features for
              customer-facing and internal products.
              <ul>
                <li>
                  Developed a feature for an internal product during a hackathon
                  that improved user efficiency by 60%.
                </li>
                <li>
                  Planned and implemented end-to-end the ability to
                  automatically take snapshots of the Map view so customers
                  could take physical copies out into the field.
                </li>
                <li>
                  Improved peformance of our main Map product by adding caching,
                  preventing duplicate API calls, and efficiently sharing data
                  across the view.
                </li>
                <li>
                  Built a new, responsive Dashboard experience with custom
                  charts to give users a high-level view of the performance of
                  their solar farms.
                </li>
                <li>
                  Planned and implemented end-to-end an updated, streamlined
                  experience for communicating order status to customers.
                </li>
              </ul>
            </li>
            <li>Co-maintained the internal component library, Raptor UI.</li>
            <li>Mentored a summer intern.</li>
            <li>
              Led group viewing sessions of Kent C. Dodds' Epic React course.
            </li>
          </ul>
        </li>

        <li>
          <div class="space-between">
            <h3 class="text-lg underline">Senior Developer</h3>
            <span>October 2021 - July 2023</span>
          </div>
          <p>Levvel, Charlotte NC &#8594; Endava, Charlotte NC</p>
          <ul>
            <li>
              Co-led the frontend architecture and development of a greenfield
              product for a startup company (<a
                target="_blank"
                href="https://foro.io/">Foro.io</a
              >).
              <ul>
                <li>
                  Co-led planning for new features for the frontend development
                  team.
                </li>
                <li>
                  Provided insight into the design of the backend architecture
                  by developing entity-relationship diagrams and brainstorming
                  solutions for new features.
                </li>
                <li>
                  Designed and implemented a GraphQL service layer API for
                  communicating with a micro-service backend (<a
                    target="_blank"
                    href="https://docs.google.com/presentation/d/1cF_uM2SLgrKeihOeomRgk3sDCRAJJJdTp54fDOYbYmk/edit?usp=sharing"
                    >Iris Talk Presentation</a
                  >).
                </li>
                <li>
                  Designed and implemented a set of form components with
                  validation to reduce development effort and ensure consistency
                  throughout the UI (<a
                    target="_blank"
                    href="https://formidable.mattwells.dev">Formidable</a
                  >).
                </li>
              </ul>
            </li>
            <li>
              Planned, coordinated, and lead a bench project for searching and
              inventoring developer skills within the company.
            </li>
            <li>
              Designed, organized, led, and presented the development of a
              developer efforting tool as part of the Innovation Project
              competition (<a
                target="_blank"
                href="https://devsplayingpoker.com/">DevsPlayingPoker</a
              >).
            </li>
            <li>
              Presented a technical introduction to the WebSockets JavaScript
              API (<a
                href="https://www.youtube.com/watch?v=H-TUh3joIXk"
                target="_blank">Recording</a
              >).
            </li>
            <li>
              Presented on the <a
                target="_blank"
                href="https://docs.google.com/presentation/d/1ZoFScsCjvyXeP9RR-5NTbZs9jEHB-n-bphiN3rzBySY/edit?usp=sharing"
                >“Innovation Mindset”</a
              > to the 2022 early-talent cohort.
            </li>
          </ul>
        </li>

        <li>
          <div class="space-between">
            <h3 class="text-lg underline">Software Engineer</h3>
            <span>June 2020 - October 2021</span>
          </div>
          <p>SentryOne, Charlotte NC &#8594; SolarWinds, Charlotte NC</p>
          <ul>
            <li>
              Effectively participated in various scrum agile efforts including
              daily standups, sprint planning, product demos and retrospectives
              on a biweekly basis.
            </li>
            <li>
              Consistently improved software quality through unit, integration,
              and end-to-end testing.
            </li>
            <li>
              Collaborated with Product Managers and UI/UX to improve product
              usability.
            </li>
            <li>
              Successfully implemented an automated system to build a test
              database in Docker to be used for integration testing.
            </li>
            <li>
              Successfully developed a highly dynamic interface for creating
              custom data charts.
            </li>
            <li>
              Successfully developed a security model under a rigorous timeline
              including leading UI development.
            </li>
            <li>
              Developed and presented a demo application to peers showing how to
              implement Emotion JS in React.
            </li>
            <li>
              Technologies used: React JS, Apollo for GraphQL, Jest, C#, .NET,
              SQL Server, Azure Dev Ops.
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="mt-6">
      <h2 class="text-xl uppercase">Personal Projects</h2>
      <hr />
      <ul class="main-section-list">
        <li>
          <h3 class="text-lg underline">CATCh Website</h3>
          <p>The official website for the Comedy Arts Theater of Charlotte.</p>
          <ul>
            <li>Astro, NodeJS, TailwindCSS</li>
            <li>
              <a target="_blank" href="https://catch.theater"
                >https://catch.theater</a
              >
            </li>
          </ul>
        </li>

        <li>
          <h3 class="text-lg underline">Love Pebble</h3>
          <p>A web-based version of the board game Love Letter.</p>
          <ul>
            <li>ReactJS (Typescript), Deno, Chakra UI</li>
            <li>
              <a target="_blank" href="https://lovepebble.mattwells.dev"
                >https://lovepebble.mattwells.dev</a
              >
            </li>
          </ul>
        </li>

        <li>
          <h3 class="text-lg underline">Devs Playing Poker</h3>
          <p>
            A tool for developers and scrum managers to effort work items as
            quickly as possible.
          </p>
          <ul>
            <li>SolidJS (Typescript), Sass, UnoCSS, Deno</li>
            <li>
              <a target="_blank" href="https://devsplayingpoker.com"
                >https://devsplayingpoker.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  html {
    background-color: #f6f6f6;
    font-size: 100%;
  }

  main {
    max-width: 1000px;
    padding: 1rem;
    margin: auto;
  }

  @media print {
    html {
      background-color: white;
      font-size: 85%;
    }
    main {
      padding: 0;
    }
    .pagebreak {
      clear: both;
      page-break-before: always;
    }
  }

  h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.1rem;
    text-decoration: underline;
    font-weight: normal;
    margin: 0;
  }

  hr {
    border: 0;
    height: 1.5px;
    background-color: lightgray;
    margin-top: 0;
  }

  section {
    margin-bottom: 2rem;
  }

  p {
    margin: 0.75rem 0;
  }

  ul {
    list-style: disc;
    padding-left: 1rem;
    margin-left: 1rem;
  }

  li {
    padding: 0.15rem 0;
  }

  a {
    text-decoration: underline;
    color: blue;
  }

  a.plain-link {
    text-decoration: none;
    color: inherit;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  ul.main-section-list {
    list-style-type: none;
    padding-left: 0;
  }

  ul.main-section-list ul li {
    list-style-type: disc;
  }

  ul.main-section-list li p {
    margin: 0.5rem 0;
  }

  ul.main-section-list > li > .space-between,
  ul.main-section-list > li > h3 {
    margin-top: 1.25rem;
  }
</style>
