---
const { name } = Astro.props;

// switch(name) {
//   case 'React':
//   case 'Solid':
//   case 'Python':
// }
---

<li
  class="border-1 border-blue-400 rounded-full bg-blue-400 bg-opacity-25 w-fit px-3"
>
  {name}
</li>
